*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/* utilities */





.wrapper {
  display: flex;
  width: 70%;
  height: 90vh;
  margin: auto;
  background-color: grey;
  margin-top: calc(10vh / 2);
}

.list {
  width: 30%;
  height: 100%;
  background-color: red;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: yellow;
  padding: 10px;
}
.header_right {
  display: flex;
}

.notify {
  display: flex;
  background-color: green;
}

.icon_left {
  line-height: 35px;
}

.search {
  display: flex;
  background-color: white;
  border: 1px solid black;
  margin: 3px;
}

.window {
  width: 70%;
  height: 100%;
  background-color: brown;
}
